<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_HKxFc_xPD0URIOfZzLutbPO9LXEI5IU</string>
	<key>GCM_SENDER_ID</key>
	<string>463168732342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.ac.york.langtrackapp</string>
	<key>PROJECT_ID</key>
	<string>langtrackappdev</string>
	<key>STORAGE_BUCKET</key>
	<string>langtrackappdev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463168732342:ios:64afbccacc8005431bba17</string>
	<key>DATABASE_URL</key>
	<string>https://langtrackappdev-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>